
#loginid
{
    margin-left: 300px;
    float: left;
    margin-top: 50px;
}
#cardid
{
    margin-top: 20px;'
}

#lengthadjust
{
    width: 300px;
}
#formmargin
{
    margin-left: 50px;
}
#buttonadjust
{
    width: 700px;
    margin-left: 145px;
    height: 40px;
}
#color
{
    margin-top: 50px;
    background-color: whitesmoke;
}
#button_margin
{
    margin-left: 900px;
}
#smallinput
{
    width: 50px;
}